Contacts/Service References/ContactServiceReference/ContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="Hobbies" nillable="true" type="tns:ArrayOfHobby" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfHobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hobby" type="tns:Hobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHobby" nillable="true" type="tns:ArrayOfHobby" />
  <xs:simpleType name="Hobby">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Drawing" />
      <xs:enumeration value="Reading" />
      <xs:enumeration value="Coding" />
      <xs:enumeration value="Cricket" />
      <xs:enumeration value="Carrom" />
      <xs:enumeration value="Tennis" />
      <xs:enumeration value="Cooking" />
      <xs:enumeration value="Movies" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Hobby" nillable="true" type="tns:Hobby" />
</xs:schema>